$sschreier-backgroundcolor-topbar: #ffffff !default;
$sschreier-paddingtop-topbar-areas: 2% !default;
$sschreier-paddingbottom-topbar-areas: 2% !default;
$sschreier-iconcolor-topbararea1: #4a545b !default;
$sschreier-hover-iconcolor-topbararea1: #4a545b !default;
$sschreier-iconcolor-topbararea2: #4a545b !default;
$sschreier-hover-iconcolor-topbararea2: #4a545b !default;
$sschreier-iconcolor-topbararea3: #4a545b !default;
$sschreier-hover-iconcolor-topbararea3: #4a545b !default;
$sschreier-iconcolor-topbararea4: #4a545b !default;
$sschreier-hover-iconcolor-topbararea4: #4a545b !default;
$sschreier-iconwidth-topbararea1: 22 !default;
$sschreier-iconwidth-topbararea2: 22 !default;
$sschreier-iconwidth-topbararea3: 22 !default;
$sschreier-iconwidth-topbararea4: 22 !default;
$sschreier-iconheight-topbararea1: 22 !default;
$sschreier-iconheight-topbararea2: 22 !default;
$sschreier-iconheight-topbararea3: 22 !default;
$sschreier-iconheight-topbararea4: 22 !default;
$sschreier-iconmargin-topbararea1: 2% !default;
$sschreier-iconmargin-topbararea2: 2% !default;
$sschreier-iconmargin-topbararea3: 2% !default;
$sschreier-iconmargin-topbararea4: 2% !default;
$sschreier-fontcolor-topbararea1: #4a545b !default;
$sschreier-hover-fontcolor-topbararea1: #4a545b !default;
$sschreier-fontcolor-topbararea2: #4a545b !default;
$sschreier-hover-fontcolor-topbararea2: #4a545b !default;
$sschreier-fontcolor-topbararea3: #4a545b !default;
$sschreier-hover-fontcolor-topbararea3: #4a545b !default;
$sschreier-fontcolor-topbararea4: #4a545b !default;
$sschreier-hover-fontcolor-topbararea4: #4a545b !default;

.topbar-outer-container {
    background-color: $sschreier-backgroundcolor-topbar;

    .top-bar-notification {
        .top-bar-notification-nav {
            display: flex;
            width: 100%;
            margin: 0 auto;
    
            .top-bar-notification-nav-item-link {
                display: flex;
                width: 100%;
            }
    
            .top-bar-notification-nav-item-container {
                width: 100%;
    
                .top-bar-notification-nav-item-inner-container {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding-top: $sschreier-paddingtop-topbar-areas;
                    padding-bottom: $sschreier-paddingbottom-topbar-areas;
    
                    &.left {
                        justify-content: flex-start;
                    }
                    
                    &.center {
                        justify-content: center;
                    }
    
                    &.right {
                        justify-content: flex-end;
                    }
    
                    &.top-bar-notification-nav-item-container-1 {
                        &.left {
                            .top-bar-notification-nav-item-icon {
                                margin-right: $sschreier-iconmargin-topbararea1;
                            }
                        }
    
                        &.right {
                            .top-bar-notification-nav-item-icon {
                                margin-left: $sschreier-iconmargin-topbararea1;
                            }
                        }
    
                        .top-bar-notification-nav-item-icon {
                            .icon {
                                width: $sschreier-iconwidth-topbararea1 * 1px;
                                height: $sschreier-iconheight-topbararea1 * 1px;
            
                                svg {
                                    color: $sschreier-iconcolor-topbararea1;
            
                                    path,
                                    use {
                                        fill: $sschreier-iconcolor-topbararea1;
                                    }
                                }
                            }
                        }
    
                        .top-bar-notification-nav-item-text {
                            color: $sschreier-fontcolor-topbararea1;
                        }
                    }
    
                    &.top-bar-notification-nav-item-container-2 {
                        &.left {
                            .top-bar-notification-nav-item-icon {
                                margin-right: $sschreier-iconmargin-topbararea2;
                            }
                        }
    
                        &.right {
                            .top-bar-notification-nav-item-icon {
                                margin-left: $sschreier-iconmargin-topbararea2;
                            }
                        }
    
                        .top-bar-notification-nav-item-icon {
                            .icon {
                                width: $sschreier-iconwidth-topbararea2 * 1px;
                                height: $sschreier-iconheight-topbararea2 * 1px;
            
                                svg {
                                    color: $sschreier-iconcolor-topbararea2;
            
                                    path,
                                    use {
                                        fill: $sschreier-iconcolor-topbararea2;
                                    }
                                }
                            }
                        }
    
                        .top-bar-notification-nav-item-text {
                            color: $sschreier-fontcolor-topbararea2;
                        }
                    }
    
                    &.top-bar-notification-nav-item-container-3 {
                        &.left {
                            .top-bar-notification-nav-item-icon {
                                margin-right: $sschreier-iconmargin-topbararea3;
                            }
                        }
    
                        &.right {
                            .top-bar-notification-nav-item-icon {
                                margin-left: $sschreier-iconmargin-topbararea3;
                            }
                        }
    
                        .top-bar-notification-nav-item-icon {
                            .icon {
                                width: $sschreier-iconwidth-topbararea3 * 1px;
                                height: $sschreier-iconheight-topbararea3 * 1px;
            
                                svg {
                                    color: $sschreier-iconcolor-topbararea3;
            
                                    path,
                                    use {
                                        fill: $sschreier-iconcolor-topbararea3;
                                    }
                                }
                            }
                        }
    
                        .top-bar-notification-nav-item-text {
                            color: $sschreier-fontcolor-topbararea3;
                        }
                    }
    
                    &.top-bar-notification-nav-item-container-4 {
                        &.left {
                            .top-bar-notification-nav-item-icon {
                                margin-right: $sschreier-iconmargin-topbararea4;
                            }
                        }
    
                        &.right {
                            .top-bar-notification-nav-item-icon {
                                margin-left: $sschreier-iconmargin-topbararea4;
                            }
                        }
    
                        .top-bar-notification-nav-item-icon {
                            .icon {
                                width: $sschreier-iconwidth-topbararea4 * 1px;
                                height: $sschreier-iconheight-topbararea4 * 1px;
            
                                svg {
                                    color: $sschreier-iconcolor-topbararea4;
            
                                    path,
                                    use {
                                        fill: $sschreier-iconcolor-topbararea4;
                                    }
                                }
                            }
                        }
    
                        .top-bar-notification-nav-item-text {
                            color: $sschreier-fontcolor-topbararea4;
                        }
                    }
    
                    .top-bar-notification-nav-item-text {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }

            .top-bar-notification-nav-item-link {
                &:hover {
                    text-decoration: none;

                    .top-bar-notification-nav-item-container {
                        .top-bar-notification-nav-item-inner-container {
                            &.top-bar-notification-nav-item-container-1 {
                                svg {
                                    color: $sschreier-hover-iconcolor-topbararea1;

                                    path,
                                    use {
                                        fill: $sschreier-hover-iconcolor-topbararea1;
                                    }
                                }

                                .top-bar-notification-nav-item-text {
                                    color: $sschreier-hover-fontcolor-topbararea1;
                                }
                            }

                            &.top-bar-notification-nav-item-container-2 {
                                svg {
                                    color: $sschreier-hover-iconcolor-topbararea2;

                                    path,
                                    use {
                                        fill: $sschreier-hover-iconcolor-topbararea2;
                                    }
                                }

                                .top-bar-notification-nav-item-text {
                                    color: $sschreier-hover-fontcolor-topbararea2;
                                }
                            }

                            &.top-bar-notification-nav-item-container-3 {
                                svg {
                                    color: $sschreier-hover-iconcolor-topbararea3;

                                    path,
                                    use {
                                        fill: $sschreier-hover-iconcolor-topbararea3;
                                    }
                                }

                                .top-bar-notification-nav-item-text {
                                    color: $sschreier-hover-fontcolor-topbararea3;
                                }
                            }

                            &.top-bar-notification-nav-item-container-4 {
                                svg {
                                    color: $sschreier-hover-iconcolor-topbararea4;

                                    path,
                                    use {
                                        fill: $sschreier-hover-iconcolor-topbararea4;
                                    }
                                }

                                .top-bar-notification-nav-item-text {
                                    color: $sschreier-hover-fontcolor-topbararea4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .topbar-outer-container {
        .top-bar-notification {
            .top-bar-notification-nav {
                flex-direction: column; 
            }
        }
    }

    .d-only-xs-flex {
        display: flex !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .topbar-outer-container {
        .top-bar-notification {
            .top-bar-notification-nav {
                &.sm-width-50 {
                    flex-wrap: wrap;
                    
                    .top-bar-notification-nav-item-link {
                        width: 50%;

                        .top-bar-notification-nav-item-container {
                            width: 100%;
                        }
                    }

                    .top-bar-notification-nav-item-container {
                        width: 50%;

                        .top-bar-notification-nav-item-inner-container {
                            &.left,
                            &.center,
                            &.right {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .d-only-sm-flex {
        display: flex !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .d-only-md-flex {
        display: flex !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .d-only-lg-flex {
        display: flex !important;
    }
}

@media (min-width: 1200px) { 
    .d-only-xl-flex {
        display: flex !important;
    }
}